body {
    font-family: Arial;
    background-color: #EE964B;
    color: #ECF0F1;
    font-size: 25px;
}

.list {
    width: 650px;
    background-color: #F95738;
}

#top {
    text-align: center;
    background-color: #F95738;
    height: 225px;
}

p {
    width: 750px;
    text-align: center;
    margin: auto;
}

.store-grid {
    background-color: #A5a1a4;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-row: auto;
    padding: 10px;
    margin: auto;
    align-items: center;
}

.kittyItems {
    background-color: #A5a1a4;
    display: flex;
    grid-column: 1/ span 4;
}

.break {
    grid-row: 4/span 2;
}

.shippinginfo {
    grid-column: 1;
    grid-row: 5/ span 5;
}

.shippinginfo2 {
    grid-column: 2;
    grid-row: 6;
}

#cartCont {
    grid-column: 3/ span 2;
    grid-row: 6;
}

img {
    width: 25%;
    margin: auto;
}

#undershelves {
    grid-column: 1;
}

#underlaptop {
    grid-column: 2;
}

#undertower {
    grid-column: 3;
}

#undercondo {
    grid-column: 4;
}

#cart {
    grid-column: 3 /span 2;
    grid-row: 7;
}

h6 {
    color: #C5E660
}

.submit {
    grid-column: 1 /span 2;
    grid-row: 10;
    margin-left: 400px;
}
